- content_for :page_title do
  = t('auth.register')

%p.bold= "中高生（10代）の方"
%p= "10代の方だけFacebookで登録してください。"

= simple_form_for(resource, as: resource_name, url: user_facebook_omniauth_authorize_path) do |f|
  .actions
    = f.button :button, 'Facebookで登録する', type: :submit

%hr
%p.bold.border= "高専生・大学生・大学院生・大学等教職員の方"
%p= "所属する組織（学校等）のメールアドレスで登録してください。"
%br

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render 'shared/error_messages', object: resource

  = f.simple_fields_for :account do |ff|
    = ff.input :username, autofocus: true, placeholder: t('simple_form.labels.defaults.username'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.username') }

  = f.input :email, placeholder: t('simple_form.labels.defaults.email'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.email') }
  = f.input :password, autocomplete: "off", placeholder: t('simple_form.labels.defaults.password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.password') }
  = f.input :password_confirmation, autocomplete: "off", placeholder: t('simple_form.labels.defaults.confirm_password'), required: true, input_html: { 'aria-label' => t('simple_form.labels.defaults.confirm_password') }

  .actions
    = f.button :button, t('auth.register'), type: :submit

.form-footer= render "auth/shared/links"

%br

%p 登録可能なメールアドレスのドメイン: .ac.jp / .ac.uk / .edu / .edu.au / aoyama.jp / chiba-u.jp / chibakoudai.jp / hgu.jp / keio.jp / naist.jp / oecu.jp / oist.jp / ous.jp / sendai-nct.jp / senshu-u.jp / tokai-u.jp / toyo.jp / waseda.jp
