- content_for :header_tags do
  = javascript_include_tag 'application_public', integrity: true, crossorigin: 'anonymous'

- content_for :page_title do
  = site_hostname

- content_for :header_tags do
  %meta{ property: 'og:site_name', content: site_title }/
  %meta{ property: 'og:url', content: about_url }/
  %meta{ property: 'og:type', content: 'website' }/
  %meta{ property: 'og:title', content: site_hostname }/
  %meta{ property: 'og:description', content: strip_tags(@instance_presenter.site_description.presence || t('about.about_mastodon')) }/
  %meta{ property: 'og:image', content: asset_url('mastodon_small.jpg') }/
  %meta{ property: 'og:image:width', content: '400' }/
  %meta{ property: 'og:image:height', content: '400' }/
  %meta{ property: 'twitter:card', content: 'summary' }/

.wrapper
  %h1
    = image_tag 'thinkers-logo.png'
    = 'Thinkers'

  %p
    = 'thinkers.ac（シンカーズ）は、学び合いのMastodon（マストドン）です。考えていることや聞きたいことなどを投稿して、有意義な学び合いの場にしていきましょう。'
    %span= 'なお、中高生（10代）と高専生・大学生・大学院生・大学等教職員の方以外は登録できません。'

  .screenshot-with-signup
    - if @instance_presenter.open_registrations
      .login-block
        = link_to '参加する', new_user_registration_path, class: 'btn blue'
        %span= 'または'
        = link_to 'ログイン', new_user_session_path, class: 'btn gray'
    - else
      .closed-registrations-message
        - if @instance_presenter.closed_registrations_message.blank?
          %p= t('about.closed_registrations')
        - else
          = @instance_presenter.closed_registrations_message.html_safe
        .info
          = link_to t('auth.login'), new_user_session_path, class: 'webapp-btn'
          ·
          = link_to t('about.other_instances'), 'https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/List-of-Mastodon-instances.md'
          ·
          = link_to t('about.about_this'), about_more_path

  %h3= 'Mastodon（マストドン）とは？'
  %p= 'マストドンは、所属するインスタンスを選んでアカウントを登録し、トゥートと呼ばれる投稿を通じてコミュニケーションを楽しむSNSです。オープンソースで公開されているため、誰でも自分のインスタンスを立ち上げることが可能である他、様々なインスタンスにアカウントを持つこともできます。また、インスタンス間を超えたやり取りも可能であるため、様々なコミュニティを介したコミュニケーションが展開されています。'

  %h3= '使い方と注意点'

  .features-list
    .features-list__column
      %ul.fa-ul
        %li
          = fa_icon('li check-square')
          = 'Think!（投稿）してみましょう（公開範囲は選択できます）'
        %li
          = fa_icon('li check-square')
          = 'タイムラインを見て気になったユーザーをフォローしたり、投稿をブースト（拡散）したり、コメントしたりしてみましょう'
        %li
          = fa_icon('li check-square')
          = '教科やテーマのハッシュタグを付けて、投稿してみましょう'
        %li
          = fa_icon('li check-square')
          = 'CW機能を使って、一問一答のクイズ形式の投稿ができます'
        %li
          = fa_icon('li check-square')
          = 'プロフィールを詐称している疑いがあるか、公序良俗・サービス趣旨に反すると運営が判断した場合、告知なく利用を停止する可能性があります'

  %h3= '最近のThink!（投稿）'
  .think-block
    %p= @status.text

  %h3= t('about.features_headline')

  .features-list
    .features-list__column
      %ul.fa-ul
        %li
          = fa_icon('li check-square')
          = t 'about.features.chronology'
        %li
          = fa_icon('li check-square')
          = t 'about.features.public'
        %li
          = fa_icon('li check-square')
          = t 'about.features.characters'
        %li
          = fa_icon('li check-square')
          = t 'about.features.gifv'
    .features-list__column
      %ul.fa-ul
        %li
          = fa_icon('li check-square')
          = t 'about.features.privacy'
        %li
          = fa_icon('li check-square')
          = t 'about.features.blocks'
        %li
          = fa_icon('li check-square')
          = t 'about.features.ethics'
        %li
          = fa_icon('li check-square')
          = t 'about.features.api'

  - unless @instance_presenter.site_description.blank?
    %h3= t('about.description_headline', domain: site_hostname)
    %p= @instance_presenter.site_description.html_safe

  .actions
    .info
      = link_to t('about.terms'), terms_path
      ·
      = link_to t('about.apps'), 'https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/Apps.md'
      ·
      = link_to t('about.source_code'), 'https://github.com/tootsuite/mastodon'
      ·
      = link_to t('about.other_instances'), 'https://github.com/tootsuite/documentation/blob/master/Using-Mastodon/List-of-Mastodon-instances.md'
